<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="header-banner mb-2">
	<MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Class="header-content">
		<MudItem>
			<h1 class="header-title">Welcome to My Website</h1>
			<MudText Typo="Typo.h6">Discover amazing content and features</MudText>
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-3">Get Started</MudButton>
		</MudItem>
	</MudGrid>
</MudContainer>






