@inject BlobStorageService BlobStorageService

@if (imageUris is null)
{
	<p>Loading...</p>
}
else
{
	<MudGrid Class="mt-1">
		@foreach (var url in imageUris)
		{

			<MudItem xs="4" sm="4" md="3" lg="2">
				<MudImage src="@url" alt="Bird Image" Fluid="true" Class="m-1" />
			</MudItem>

		}
	</MudGrid>
		

		
	
}

@code {

	// Parameter tto control the number of images displayed
	[Parameter] public int ImageCount { get; set; }		
	private List<string> imageUris = new();

	protected override async Task OnInitializedAsync()
	{
		imageUris = await BlobStorageService.ListBlobUrisAsync(ImageCount);
	}
}
