@inject TourService TourService
<MudGrid Class="mb-5">
    @foreach (var tour in Tours)
    {
        <MudItem xs="12" sm="6">
            <MudCard Elevation="3" Class="my-2" Style="background-color: white">
                <MudCardContent>
                    <div class="d-flex flex-column justify-center align-center mb-1">
                        <MudImage style="height: 100px" Src="/images/logo.svg"
                        Alt="Logo" />
                        <MudText Typo="Typo.h3">@tour.Title</MudText>
                    </div>
                    
                    <MudText Typo="Typo.body2">@tour.Description</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code {
    private List<Tour> Tours { get; set; } = new List<Tour>();

    private async Task LoadToursAsync()
    {
        Tours = await TourService.GetAllToursAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadToursAsync();
        
    }
}
