.header-container {
    background-image: url('https://neilseniorwildlife.blob.core.windows.net/wildlife-photos/ETERNAL%20IMAGES%20PHOTOGRAPHY%20LTD%20COPYRIGHT%20%2813%20of%2017%29.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    / position: relative;
}

.transparent-nav {
    background-color: transparent !important;
}

.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4); 
    z-index: 0;
}


.transparent-nav,
.transparent-nav * {
    position: relative;
    z-index: 1;
}
